<div>
    <div>
        <p>Select Agents to add to Lab "{{ lab.name }}"</p>

        <!-- Set Agent name -->
        <h4>Agents to Add</h4>
        <nz-select
            nzMode="multiple"
            nzPlaceHolder="Select Agents"
            [(ngModel)]="selectedAgents"
            [nzDropdownRender]="dropdownTemplate"
            style="width: 100%"
        >
            <nz-option *ngFor="let agent of availableAgents" [nzLabel]="agent.name" [nzValue]="agent.id"></nz-option>
        </nz-select>

        <ng-template #dropdownTemplate>
            <nz-divider style="margin: 10px 0;"></nz-divider>
            <button
                nz-button
                nzType="default"
                (click)="createNewAgent()"
                style="width: calc(100% - 20px); margin: 0 10px 10px 10px"
            >
                Create New Agent
            </button>
        </ng-template>
    </div>

    <nz-divider></nz-divider>

    <div class="buttons">
        <button
            nz-button
            nzType="primary"
            [nzLoading]="addAgentsStatus === 'pending'"
            [disabled]="addAgentsStatus === 'success'"
            (click)="addAgents()"
            style="margin-right: 10px;"
        >
            Add Agents
        </button>
        <button nz-button (click)="close()" [disabled]="addAgentsStatus === 'pending'">Cancel</button>
    </div>
</div>
